.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@supports (-webkit-touch-callout: none) {
  .App {
    /* The hack for Safari */
  }

  .App {
    min-height: -webkit-fill-available;
  }
}

.header {
  padding: 15px;
  text-align: center;
  font-size: 36px;
  box-shadow: 0 2px 10px 0 rgb(5 5 5 / 15%);
  margin-bottom: 50px;
}

.main {
  flex-grow: 1;
  max-width: 728px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto 50px;
}

.footer {
  max-width: 728px;
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid var(--gray);
  color: var(--gray);
  text-align: center;
  padding: 20px;
}
