.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    align-items: center;
    justify-content: center;
    display: none;
}

.active {
    display: flex;
}

.modal {
    min-width: 620px;
    min-height: 420px;
    background-color: #ffffff;
    text-align: center;
}

