.comment {
    list-style: none;
    margin-bottom: 20px;
}

.comment:last-of-type {
    margin-bottom: 0;
}

.date {
    color: #999;
    margin-bottom: 5px;
    font-weight: normal;
}

.commentText {
    font-weight: normal;
}